.table_main {
  /*table-layout: fixed;
  border-collapse: collapse;*/
  width: 800px;
  /*border: 1px solid black;*/
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
}

.table_central {
    /*table-layout: fixed;
    border-collapse: collapse;*/
    width: 100%;
    /*border: 1px solid black;*/
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
}

.header_pergamin {
    background: url("pergamin_head.png");
    height: 188px;
}

.bottom_pergamin {
    background: url("pergamin_foot.png");
    height: 185px;
}

.body_pergamin {
    background-image: url("pergamin_center.png");
    background-repeat: repeat;
}

.left {
    width: 100px;
}

.center {
    width: 600px;
}

.right {
    width: 100px;
}


th, td {
  padding: 0px;
  font-family: 'Homemade Apple', cursive;
}



.left_side {
    background: url("pergamin_left.png");
    background-repeat: repeat-y;
    width: 203px;
}

.right_side {
    background: url("pergamin_right.png");
    background-repeat: repeat-y;
    width: 227px;
}
