{% extends "layout.html" %}
{% block body %}

<h2>Add Mini:</h2>

<form action="{{ url_for('add') }}" method=post class=add-task>
    <input type="hidden" id="add" name="add" value="1">
    <div style="width:80%">
        <label for="list">List:</label> <input type="text" id="list" maxlength="16" name="list" value={{ default_list }}>
        {% if default_list == "encounter_list"%}
            <label for="encounter">Encounter Roll:</label> <input type="number" id="encounter" maxlength="6" name="encounter" min=1 max=100 value=1>
        {% else %}
            <input type="hidden" id="encounter" value=0>
        {% endif %}
        <br>
        <select id="type" name="type">
            <option value=0>Wizard</option>
            <option value=1>Apprentice</option>
            <option value=2>Soldier</option>
            <option value=3>Monster</option>
        </select>
        <label for="name">Name:</label> <input type="text" id="name" maxlength="16" name="name">
        <br></br>
        <label for="M">M:</label> <input type="number" id="M" name="M" min="0" max="20" value=6>
        <label for="F">F:</label> <input type="number" id="F" name="F" min="-5" max="5" value=0>
        <label for="S">S:</label> <input type="number" id="S" name="S" min="-5" max="5" value=0>
        <label for="A">A:</label> <input type="number" id="A" name="A" min="-5" max="20" value=10>
        <label for="W">W:</label> <input type="number" id="W" name="W" min="-5" max="20" value=0>
        <label for="H">H:</label> <input type="number" id="H" name="H" min="0" max="30" value=10>
        <br></br>
        <label for="cwp_name">Combat weapon:</label> <input type="text" id="cwp_name" maxlength="16" name="cwp_name" value="">
        <label for="cwp_damage_mod">Damage mod.:</label> <input type="number" id="cwp_damage_mod" name="cwp_damage_mod" min="-5" max="5" value=0>
        <label for="cwp_armour_mod">Armour mod.:</label> <input type="number" id="cwp_armour_mod" name="cwp_armour_mod" min="-5" max="5" value=0>
        <br></br>
        <label for="swp_name">Shoot weapon:</label> <input type="text" id="swp_name" maxlength="16" name="swp_name" value="">
        <label for="swp_range">Range:</label> <input type="number" id="swp_range" name="swp_range" min="0" max="48" value=0>
        <label for="swp_damage_mod">Damage mod.:</label> <input type="number" id="swp_damage_mod" name="swp_damage_mod" min="-5" max="5" value=0>
        <br></br> 
    </div>
    <input type="submit" value="Add">
</form>

{% endblock %}