{% extends "layout.html" %}
{% block body %}

<h2>Edit {{ mini.name }}:</h2>

<form action="{{ url_for('add') }}" method=post class=add-task>
    <input type="hidden" id="add" name="add" value="0">
    <input type="hidden" id="id" name="id" value={{ mini.rowid }}>
    
    <div style="width:80%">
        <select id="type" name="type">
            <option value=0 {% if mini.type == 0 %} selected="selected" {% endif %}>Wizard</option>
            <option value=1 {% if mini.type == 1 %} selected="selected" {% endif %}>Apprentice</option>
            <option value=2 {% if mini.type == 2 %} selected="selected" {% endif %}>Soldier</option>
            <option value=3 {% if mini.type == 3 %} selected="selected" {% endif %}>Monster</option>
        </select>
        <label for="name">Name:</label> <input type="text" id="name" name="name" value="{{ mini.name }}">
        <label for="list">List:</label> <input type="text" id="list" name="list" value="{{ mini.list }}">
        <br></br>
        <label for="M">M:</label> <input type="number" id="M" name="M" min="0" max="20" value={{ mini.M }}>
        <label for="F">F:</label> <input type="number" id="F" name="F" min="-5" max="5" value={{ mini.F }}>
        <label for="S">S:</label> <input type="number" id="S" name="S" min="-5" max="5" value={{ mini.S }}>
        <label for="A">A:</label> <input type="number" id="A" name="A" min="0" max="20" value={{ mini.A }}>
        <label for="W">W:</label> <input type="number" id="W" name="W" min="0" max="20" value={{ mini.W }}>
        <label for="H">H:</label> <input type="number" id="H" name="H" min="0" max="30" value={{ mini.H }}>
        <br></br>
        <label for="cwp_name">Combat weapon:</label> <input type="text" id="cwp_name" name="cwp_name" value="{{ mini.cwp_name }}">
        <label for="cwp_damage_mod">Damage mod.:</label> <input type="number" id="cwp_damage_mod" name="cwp_damage_mod" min="-5" max="5" value={{ mini.cwp_damage_mod }}>
        <label for="cwp_armour_mod">Damage mod.:</label> <input type="number" id="cwp_armour_mod" name="cwp_armour_mod" min="-5" max="5" value={{ mini.cwp_armour_mod }}>
        <br></br>
        <label for="swp_name">Shoot weapon:</label> <input type="text" id="swp_name" name="swp_name" value="{{ mini.swp_name }}">
        <label for="swp_range">Range:</label> <input type="number" id="swp_range" name="swp_range" min="0" max="48" value={{ mini.swp_range }}>
        <label for="swp_damage_mod">Damage mod.:</label> <input type="number" id="swp_damage_mod" name="swp_damage_mod" min="-5" max="5" value={{ mini.swp_damage_mod }}>
        <br></br> 
    </div>
    <input type="submit" value="Update">
</form>

{% endblock %}