<!doctype html>
<h1>Frostgrave</h1>
<h2>Check modifiers:</h2>
<p style="color:red">{{ msg }}</p>
    
{% if combat_type:%}
    <p>{{ s1.name }} hand to hand combat with {{ s2.name }}</p>
{% else: %}
    <p>{{ s1.name }} shoots {{ s2.name }}</p>
    <form action="{{ url_for('shoot') }}" method=post>
        <input type="hidden" id="mini1" name="mini1" value={{ s1.ID }}>
        <input type="hidden" id="mini2" name="mini2" value={{ s2.ID }}>
        <table>
            <tr>
              <td><b>Shooter:</b></td> <td> {{ s1.name }}</td>
              <td><b>Target:</b></td> <td>{{ s2.name }}</td>
            </tr>
            <tr>
              <td><b>S:</b></td> <td><input type="number" id="S" name="S" min="-5" max="5" value={{ s1.S }}></td>
              <td><b>F:</b></td> <td><input type="number" id="F" name="F" min="-5" max="5" value={{ s2.F }}></td>
            </tr>
            <tr>  
              <td><b>Weapon mod.:</b></td><td><input type="number" id="w1_m" name="w1_m" min="-5" max="5" value={{ sw1.damage_mod }}></td>
              <td><b>Armour mod.:</b></td><td><input type="number" id="w2_m" name="w2_m" min="-5" max="20" value={{ s2.A }}></td>
            </tr>
            <tr>
                <td>Intervining terrain:</td> <td><input type="number" id="IT" name="IT" min="0" max="20" value="0"></td>
            </tr>
            <tr>
                <td>Cover: </td> 
                <td>
                    <input type="radio" id="c_none" value="c_none" name="cover" checked>
                    <label for="c_none">None</label>
                </td>
                <td>
                    <input type="radio" id="c_light" value="c_light" name="cover">
                    <label for="c_light">Light</label>
                </td>
                <td>
                    <input type="radio" id="c_heavy" value="c_heavy" name="cover">
                    <label for="c_heavy">Heavy</label>
                </td>
            </tr>
            <tr>
                <td>Hasty Shoot</td>
                <td>
                    <input type="checkbox" id="hasty" name="hasty" value="hasty">
                </td>
            </tr>
            <tr>
                <td>Large Target</td>
                <td>
                    <input type="checkbox" id="large" name="large" value="large">
                </td>
            </tr>
        </table>
        <input type="submit" value="Shoot!">
    </form>

{% endif %}
