{% extends "layout.html" %}
{% block body %}
<body onload="resistSpell()">

<h2>{{ mini.name }} ({{ mini.H }}) Resist Spell:</h2>

<form action="{{ url_for('resist_result') }}" method=post class=add-task>
    <input type="hidden" id="mini" name="mini" value={{ mini.rowid }}>
    <p>dice( {{ dice }} ) +  will( {{ mini.W }} )
            {% if mini.type == 0 or mini.type == 1%}
                + empowering( <input onchange="resistSpell()" type="number" id="empowering" name="empowering" min="0" max={{ mini.H }} value=0> )
            {% else %}
                <input type="hidden" id="empowering" name="empowering" value=0>
            {% endif %}
            >= cast_value( <input onchange="resistSpell()" type="number" id="spell_cast" name="spell_cast" min="0" max=50 value=10> )</p>
            <b><p id="result"></p></b>
        </tr>
    <input type="submit" value="Apply">
</form>

<script>
    function resistSpell() {
        var cast_value = parseInt(document.getElementById("spell_cast").value);
        var will = {{ mini.W }};
        var dice = {{ dice }};
        var empowering = 0;
        var empowering_obj = document.getElementById("empowering");
        if (empowering_obj != null) {
            console.log("Is not null")
            empowering = parseInt(empowering_obj.value);
        } 
        console.log("Value: ");
        console.log(empowering);
        
        var resist = (will + dice + empowering) >= cast_value
        if (resist) {
            document.getElementById("result").innerHTML = "Resist Spell";
        } else {
            document.getElementById("result").innerHTML = "Do not resists the spell";
        }
    }

</script>
</body>

{% endblock %}