{% extends "layout.html" %}
{% block body %}

<h2>Select players to fight:</h2>
<form action="{{ url_for('fight') }}" method=post class=add-task>
    {{ mini.name }}
    VS.
    <select id="mini2" name="mini2">
        {% for m in team %}
            <option value="{{ m.rowid }}"> {{ m.name }}</option>
        {% endfor %}
    </select>

    <div class="fg">
        <input type="hidden" id="mini1" name="mini1" value={{ mini.rowid }}>
        <input type="radio" id="combat" name="fight" value="combat" checked> 
        <label for="combat">Combat</label> &nbsp;
        <input type="radio" id="shoot" name="fight" value="shoot">
        <label for="shoot">Shoot</label><br>
    </div>
    <input type="submit" value="Fight!">
</form>

{% endblock %}