{% extends "layout.html" %}
{% block body %}

<h2>Edit/Add minis:</h2>

    <form action="{{ url_for('show_post') }}" method=post>
        <b>List name: </b>
        <select id="list_n" name="list_n">
            <option value = "__all__" selected>All</option>
            {% for l in list_names %}
                {% if l == active_list %}
                    <option value="{{ l }}" selected> {{ l }}</option>
                {% else %}
                    <option value="{{ l }}"> {{ l }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Select">
    </form>

    <table class="table_list">
    {% for m in minis %}
        <tr class="gris">
            <td class="name_wrap"><b>{{ m.name }}</b></td>
            <td>
                {% if m.type == 0%}
                    Wizard<br>
                {% elif m.type == 1%}
                    Apprentice<br>
                {% elif m.type == 2%}
                    Soldier<br>
                {% elif m.type == 3%}
                    Monster<br>
                {% endif %}

                M: {{ m.M }} &nbsp; F: {{ m.F }} &nbsp; S: {{ m.S }} &nbsp; A: {{ m.A }} &nbsp; W: {{ m.W }} &nbsp; H: {{ m.H }}
            </td>
        </tr>
        <tr>
            <td>
                {% if m.type == 0%}
                    <img src="static/wizard.png" width="60" height="75">
                {% elif m.type == 1%}
                    <img src="static/apprentice.png" width="60" height="75">
                {% elif m.type == 2%}
                    <img src="static/soldier.png" width="60" height="75">
                {% elif m.type == 3%}
                    <img src="static/monster.png" width="60" height="75">
                {% endif %}
            </td>
            <td><p>
                <ul>
                    <li>{{ m.cwp_name }} &nbsp;
                        {% if m.cwp_damage_mod >= 0%}
                            +{{m.cwp_damage_mod}}
                        {% else %}
                            {{m.cwp_damage_mod}}
                        {% endif %}
                        {% if m.cwp_armour_mod != 0%}
                            / {{m.cwp_armour_mod}}
                        {% endif %}
                    </li>
                    {% if m.swp_range > 0 %}
                        <li>{{ m.swp_name }} &nbsp;
                            {% if m.swp_damage_mod >= 0%}
                                +{{m.swp_damage_mod}}
                            {% else %}
                                {{m.swp_damage_mod}}
                            {% endif %}
                            / {{m.swp_range}}"
                        </li>
                    {% endif %}
                </ul></p>
                <p> <a href="{{ url_for('fight_select', mini=m.rowid)}}">Fight</a> &nbsp;
                    <a href="{{ url_for('show_spells', mini=m.rowid)}}">Spells</a> &nbsp;
                    <a href="{{ url_for('resist_spell', mini=m.rowid)}}">Resist</a> &nbsp;
                    <a href="{{ url_for('edit_mini', mini=m.rowid)}}">Edit</a> &nbsp;
                    <a href="{{ url_for('copy_mini', mini=m.rowid)}}">Copy</a> &nbsp;
                    <a href="{{ url_for('delete_mini', mini=m.rowid)}}">Remove</a> &nbsp;
                </p>
            </td>
        </tr>
    {% endfor %}
    </table>
    <form action="{{ url_for('add_mini') }}">
        <input type="submit" value="Add New Mini">
    </form>

{% endblock %}>