{% extends "layout.html" %}
{% block body %}

<h2>{{ mini.name}} Spells:</h2>

<table style="width:80%">
{% for s in spells %}
    <tr>
        <td>{{ s.name }}</td>
        <td>Cast value: {{ s.cast_value }}</td>
        <td>{{ s.description }}</td>
        <td><a href="{{ url_for('cast_spell', spell=s.rowid)}}">Cast</a></td>
        <td><a href="{{ url_for('edit_spell', spell=s.rowid)}}">Edit</a></td>
        <td><a href="{{ url_for('remove_spell', spell=s.rowid)}}">Remove</a></td>
    </tr> 
{% endfor %}
</table>
<a href="{{ url_for('add_spell') }}">Add</a>

{% endblock %}>