{% extends "layout.html" %}
{% block body %}

<h2>Edit/Add minis:</h2>

<table style="width:80%">
{% for m in minis %}
    <tr>
        <td>{{ m.name }}</td>
        {% if m.type == 0%}
            <td>Wizard</td>
        {% elif m.type == 1%}
            <td>Apprentice</td>
        {% elif m.type == 2%}
            <td>Soldier</td>
        {% elif m.type == 3%}
            <td>Monster</td>
        {% else%}
            <td>Other</td>
        {% endif %}
        <td>M: {{ m.M }}</td>
        <td>F: {{ m.F }}</td>
        <td>S: {{ m.S }}</td>
        <td>A: {{ m.A }}</td>
        <td>W: {{ m.W }}</td>
        <td>H: {{ m.H }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ m.cwp_name }}</td>
        <td>Mod: {{ m.cwp_damage_mod }}</td>
        <td>Armour: {{ m.cwp_armour_mod }}</td>
        {% if m.swp_range > 0 %}
            <td>{{ m.swp_name }}</td>
            <td>R: {{ m.swp_range }}</td>
            <td>Mod: {{ m.swp_damage_mod }}</td>
        {% else %}
            <td>None</td>
            <td></td>
            <td></td>    
        {% endif %}
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="{{ url_for('edit_mini', mini=m.rowid)}}">Edit</a></td>
        <td><a href="{{ url_for('show_spells', mini=m.rowid)}}">Spells</a></td>
        <td><a href="{{ url_for('resist_spell', mini=m.rowid)}}">Resist Spell</a></td>
        <td>Skills</td>
        <td><a href="{{ url_for('delete_mini', mini=m.rowid)}}">Remove</a></td>
        
    </tr> 
    <tr></tr>
{% endfor %}
</table>
<a href="{{ url_for('add_mini')}}">Add</a>

{% endblock %}>